.currency-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    width: 450px;
    height: 200px;
    border: 1px solid white;
}

.title {
    color: white;
    background-color: rgb(83, 81, 81);
    width: 100%;
    text-align: center;

}

.amount {
    width: 80px;
    height: 25px;
    margin-right: 10px;
}

.result {
    width: 80px;
    height: 25px;
    margin-right: 10px;
}

.from-currency-option {
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.to-currency-option {
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.exchange-button {
    width: 80px;
    height: 30px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}